<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<title>Admin</title>


<div class="container-fluid">

    <div class="row">
        <div class="col-md-6  pl-5  m-auto">
            <h3 class="text-info  text-center  mb-2"> Uredi proizvod</h3>
            <form action="{{ BASE }}/admin/{{product.proizvod_id}}/edit" method="POST" enctype="multipart/form-data" >
                <div class="form-group">

                    <label>Tip proizvoda:
                        <input type="text" name="product_tip" class="form-control" value="{{ product.tip}}">
                    </label>

                    <label>Naziv proizvoda:
                        <input type="text" name="product_name" class="form-control" value="{{ product.naziv}}">
                    </label>

                    <label>Cijena:
                        <input type="text" name="product_price" class="form-control" value="{{ product.cijena}}  ">
                    </label>

                    <label class="">Velicine:

                        <input type="text" name="product_size_v1" class="form-control" value="{{ product.v1}}">
                        <input type="text" name="product_size_v2" class="form-control" value="{{ product.v2}}">
                        <input type="text" name="product_size_v3" class="form-control" value="{{ product.v3}}">
                        <input type="text" name="product_size_v4" class="form-control" value="{{ product.v4}}">
                        <input type="text" name="product_size_v5" class="form-control" value="{{ product.v5}}">
                        <input type="text" name="product_size_v6" class="form-control" value="{{ product.v6}}">
                        <input type="text" name="product_size_v7" class="form-control" value="{{ product.v7}}">
                        <input type="text" name="product_size_v8" class="form-control" value="{{ product.v8}}">
                    </label>

                    <label>Pol:
                        <input type="text" name="product_gender" class="form-control" value="{{ product.pol}}">
                    </label>


                    <label>Sifra:
                        <input type="text" name="product_code" class="form-control" value="{{ product.sifra}}">
                    </label>

                    <label>Boja:
                        <input type="text" name="product_color" class="form-control" value="{{ product.boja}}">
                    </label>

                    <label>Materijal:
                        <input type="text" name="product_materijal" class="form-control" value="{{ product.materijal}}">
                    </label>

                    <label>Slika:
                        <input type="text" name="product_img" class="form-control" value="{{ product.slika}}">
                    </label>




                    <div class="form-group">
                        <input type="submit" name="add" class="btn btn-success btn-block" value="Uredi">
                    </div>
                </div>
            </form>
        </div>
    </div>



</div>
