{% extends "_global/index.html"%}
{% block main%}
{% spaceless %}

<div class="proizvod-jedan">

    <div class="slika">
        <img src="../assets/img/{{ product.slika}}.jpg" height="auto" width="300"><br>
    </div>

    <div class="podaci">

        <h4>Naziv proizvoda:</h4>{{ product.pol }}.{{ product.naziv }}<br><br>
        <h4>Cijena proizvoda:</h4>{{ product.cijena }}<br><br>
        <h4>Dostupno u velicinama:</h4>{{ product.velicina }}<br><br>
        <h4>Dostupno u bojama:</h4>{{ product.boja }}<br><br>
        <h4>Sifra proizvoda:</h4>{{ product.sifra }}<br>
    </div>
</div>
<h3 style="
    margin-top: 30px;
    border-top: 2px solid gray;
    text-align: center;
">Slicni proizvodi</h3>


{% endspaceless %}

{% endblock %}

{% block naslov %}Aura{% endblock %}