{% extends "_global/index1.html"%}
{% block main%}
{% spaceless %}


<form action="{{ BASE }}/postslanje" method="POST" class="form m-1 row mt-2 ">
    <div class="form col-md-4 ">

        <div class="m-5 d-flex justify-content-center form-group">
            <h5>PODACI KUPCA</h5>
        </div>
        <p class=" ">Unesite licne podatke i broj telefona kako bi Vam narudžba bila uspješno
            dostavljena.</p>


        <div class="form-group  ">

            <label for="input_forename">Ime:</label>
            <input type="text" id="input_forename" name="slanje_forename" required class="form-control">
        </div>


        <div class="form-group  ">

            <label for="input_surname">Prezime:</label>
            <input type="text" id="input_surname" name="slanje_surname" required class="form-control">

        </div>


        <div class="form-group ">

            <label for="input_telefon">Telefon:</label>
            <input type="text" id="input_telefon" name="slanje_telefon" required class="form-control">

        </div>

        <div class="form-group ">
            <label for="input_email">E-mail:</label>
            <input type="email" id="input_email" name="slanje_email" required class="form-control">

        </div>

    </div>

    <div class="form col-md-4 ">
        <div class="m-5 d-flex justify-content-center slanje-group">
            <h5>ADRESA KUPCA</h5>
        </div>


        <p class=" form-group  ">Unesite podatke vezane za Vašu adresu kako bi Vam narudžba bila uspješno
            dostavljena.</p>

        <div class="form-group ">
            <label for="input_ulica">Ulica i broj:</label>
            <input type="text" id="input_ulica" name="slanje_ulica" required class="form-control">

        </div>


        <div class="form-group">
            <label for="input_grad">Grad:</label>
            <input type="text" id="input_grad" name="slanje_grad" required class="form-control">

        </div>

        <div class="form-group">

            <label for="input_p_broj">Postanski broj:</label>
            <input type="text" id="input_p_broj" name="slanje_postanskibroj" required class="form-control">


        </div>

        <div class="form-group">

            <label for="input_drzava">Drzava:</label>
            <input type="text" id="input_drzava" value="Bosna i Hercegovina" name="slanje_drzava" required
                   class="form-control">


        </div>
    </div>
    <div class="form col-md-4 ">


        <div class="m-5 d-flex justify-content-center form-group">
            <h5>OPCIJE PLACANJA</h5>
        </div>

        <p class="form-group">Izaberite način plaćanja Vaše narudžbe</p>

        <div class=" form-group input-group">

            <div class="input-group-text">
                <input type="radio">
            </div>
            <input type="text" class="form-control" value="Placanje pouzecem" readonly>
        </div>


        <div class="m-5 d-flex justify-content-center form-group">
            <h5>OPCIJE DOSTAVE</h5>
        </div>
        <p>Zelim da mi se proizvos isporuci na navedenu adresu i slazem sa svim uslovima isporuke</p>


        <button type="submit" class="btn btn-success w-100 " style="background-color: #437831" id="button">
            Potvrdi
        </button>


    </div>
</form>


{% endspaceless %}

{% endblock %}
{% block naslov %}Podaci{% endblock %}