{% extends "_global/index.html"%}
{% block main%}
{% spaceless %}
<p>{{ podatak}}</p>
<div class="pocetna">
    <div class="z-pocetna">


        <a href="zenski"> <img src="http://localhost/aura1/assets/img/people-2563491_1280.jpg" height="425" width="600"
                               alt="z slika"/></a>
    </div>
    <div class="m-pocetna">

        <a href="muski"><img src="http://localhost/aura1/assets/img/black-and-white-1283231_1280.jpg" height="425"
                             width="600" alt="m slika"/></a>
    </div>
</div>
<div class="proizvodi">
    {% for product in products %}

    <div class="proizvod">
        <a href="product/{{ product.proizvod_id}}"><img src="assets/img/{{ product.slika}}.jpg" height="auto"
                                                        width="300"></a>
        <!--        <a class="link" href="product/{{ product.proizvod_id}} ">{{ product.pol}}.{{ product.naziv}}</a>-->

        <div style="margin-left: 35px">
            <p>cijena:</p>{{ product.cijena }}<br>
            <p>velicina:</p>{{ product.v1 }} {{ product.v2 }} {{ product.v3 }} {{ product.v4 }} {{ product.v5 }} {{
            product.v6 }} {{ product.v7 }} {{ product.v8 }}<br>
            <!--        <p>boja:</p>{{ product.boja }}-->
        </div>
    </div>
    {% endfor %}
</div>

{% endspaceless %}

{% endblock %}