{% extends "_global/index1.html"%}
{% block main%}
{% spaceless %}

<h1 class="d-inline-flex sticky-top" style=" font-size: 20px;color: white ;opacity: 0.4">MUSKA KOLEKCIJA <span>-jakne pantalone kosulje majice sakoi dzemperi</span></h1>
<div class="container  flex-wrap  col-12 d-inline-flex">
        {% for product in products %}

        <div class="proizvod flex-grow-1 mb-4" style="position: relative" >
          <a  class="slika" href="{{ BASE }}/product/{{ product.proizvod_id}}" >
              <img src="{{ BASE }}/assets/img/{{ product.slika}}.jpg" height="auto" width="350 " alt="{{ product.naziv}}"></a>
<!--            <a class="link" href="product/{{ product.proizvod_id}} ">{{ product.pol}}.{{ product.naziv}}</a>-->

            <div class=" flex-column  pl-5 pr-5" style="position:absolute;left: 0px; top: 365px;background-color:ghostwhite; opacity:0"
                 onmouseout="this.style='position:absolute;left: 0px; top: 365px;background-color:ghostwhite; opacity:0;'"
                 onmouseover="this.style='position:absolute;left: 0px; top: 365px;background-color:ghostwhite; opacity:0.8 ;'"
                 >
                <div class="prva ">
                    <p class="podatak">CIJENA:{{ product.cijena }}</p>
                    <p class="podatak" >VELICINE:{{ product.v1 }}   {{ product.v2 }} {{ product.v3 }} {{ product.v4 }} {{ product.v5 }} {{
                        product.v6 }} {{ product.v7 }} {{ product.v8 }}</p>
                </div>
<!--                <div class=" druga">-->
<!--                    <p class="podatak">BOJA: {{ product.boja }}</p>-->
<!--                    <p class="podatak"> SIFRA PROIZVODA:{{ product.sifra }}</p>-->
<!--                </div>-->

            </div>

        </div>
            {% endfor %}

</div>
{% endspaceless %}

{% endblock %}

{% block naslov %}Muska kolekcija{% endblock %}
