{% extends "_global/index.html"%}
{% block main%}
{% spaceless %}
<h1>MUSKA KOLEKCIJA</h1><br>
    <div class="proizvodi" >

        {% for product in products %}

        <div class="proizvod" >
          <a href="product/{{ product.proizvod_id}}" ><img src="assets/img/{{ product.slika}}.jpg" height="auto" width="300"></a>
            <a class="link" href="product/{{ product.proizvod_id}} ">{{ product.pol}}.{{ product.naziv}}</a>

           <br>
            <p>cijena:</p>{{ product.cijena }}
            <p>velicina:</p>{{ product.v1 }} {{ product.v2 }} {{ product.v3 }} {{ product.v4 }} {{ product.v5 }} {{
            product.v6 }} {{ product.v7 }} {{ product.v8 }}<br>
<!--            {{ product.boja }}<br>-->

        </div>
            {% endfor %}
    </div>

{% endspaceless %}

{% endblock %}

{% block naslov %}Muska kolekcija{% endblock %}