* {
    /*box-sizing:border-box; */
    padding: 0;
    margin: 0;
}

body {
    margin: 20px auto;
    width: 1200px;
    max-width: 1200px;
    background-color: #f9f9f9;
}

.site-header {
    display: grid;
    grid-template-areas: "banner social" "banner search" "menu   menu";
    /*background-color: #f3f3f3;*/

}


.banners {
    grid-area: banner;
    margin-left: 20px;
}

.social-icons {
    grid-area: social;
    display: flex;
    margin-right: 100px;
    flex-direction: row;

}

.social-icons {
    width: 24px;
    height: 16px;


}

.fa-facebook {
    margin-left: 440px;
}

.fa-youtube {
    margin: 0 15px 0 30px ;
}

.fa-instagram {
    margin: 0 15px;
}

.fa-twitter {
    margin: 0 15px;

}

.search-box {
    grid-area: search;
    text-align: right;

}

#main-menu {
    grid-area: menu;
    margin: 20px 0;
    border-top: 2px solid grey;

}

#main-menu > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
}

#main-menu > ul > li {
    text-align: center;
    flex-grow: 1;
}

#main-menu > ul > li > a {
    text-decoration: none;
    padding: 10px 0;
    display: block;
    color: black;
}

#main-menu > ul > li:hover {
    background: rgba(200, 200, 200, 0.3);
}

.registracija {
    border: 2px solid grey;
    width: 380px;
    margin: 50px auto;
    padding: 40px;
    background-color: gainsboro;
    border-radius: 10px;
}

.form {
    width: 330px;
    height: 25px;
    padding-left: 20px;
    border-radius: 8px;
}

#button {
    height: 35px;
    width: 200px;
    margin: 0 90px;
    padding-left: inherit;
    background-color: #fff;
}

.button1 {
    border: 2px solid grey;
    width: 380px;
    margin: 50px auto;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
}


