* {
    /*box-sizing:border-box; */
    padding: 0;
    margin: 0;
}

body {
    margin: 20px auto;
    width: 1200px;
    max-width: 1200px;
}

.site-header {
    display: grid;
    grid-template-areas: "banner social" "banner search" "menu   menu";
}

.banners {
    grid-area: banner;
}

.social-icons {
    grid-area: social;
}

.search-box {
    grid-area: search;
}

#main-menu {
    grid-area: menu;


}

#main-menu > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
}
#main-menu > ul> li{
    text-align: center;
    flex-grow:1;
}
#main-menu > ul> li:hover{
   background: rgba(200,200,200,0.3);
}

.registracija {
    border: 2px solid grey;
    width: 380px;
    margin: 50px auto;
    padding: 40px;
    background-color: gainsboro;
    border-radius: 10px;
}

.form {
    width: 330px;
    height: 25px;
    padding-left: 20px;
    border-radius: 8px;
}

#button {
    height: 35px;
    width: 200px;
    margin: 0 90px;
    background-color: #fff;
}

.button1 {
    border: 2px solid grey;
    width: 380px;
    margin: 50px auto;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
}

