@media (max-width: 1025px){

    .header-top{
        height: 35px;
    }

    .grid-slider.loyalty-slider-slider, .grid-slider.gift-footer-slider{
        padding: 0;
    }

    .newsletter{
        padding: 0px 20px;
    }

    .nav-main > li > a{
        padding: 12px 4px 12px;
        height: 45px;
        font-size: 11px;
    }

    .footer{
        padding: 30px 0 20px 0%;
    }

    .grid-slider.women-slider .text-wrapper .description, .grid-slider.men-slider .text-wrapper .description{
        font-size: 25px;
        line-height: 33px;
    }

    .grid-slider.bags-slider{
        padding: 0 0 20px;
    }

    .grid-slider.bags-slider .text-wrapper .description{
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 12px;
        margin-bottom: 25px;
    }

    .grid-slider.women-slider .text-wrapper .description:before, .grid-slider.men-slider .text-wrapper .description:before, .grid-slider.bags-slider .text-wrapper .description:before{
        bottom: -15px;
    }

    .grid-slider.women-slider, .grid-slider.men-slider{
        padding: 20px 0px;
    }

    .grid-slider.gift-footer-slider{
        margin-top: 20px;
    }

    .nl-wrapper-input{
        margin-top: 10px;
    }

    .tags .products-found-wrapper .products-found{
        margin-left: 25px;
    }

    .selected-filters.tags{
        margin-bottom: 0;
    }

    .article .article-content .text-wrapper p{
        padding: 0 80px;
    }

    .comments textarea.form-control{
        width: 100%;
    }

    .comments .comments-input-wrapper .form-group-message, .comments .comments-input-wrapper .form-group-btn{
        width: 100%;
    }

    .article-detail .article-wrapper{
        padding: 0;
    }

    .article-detail .article-wrapper .text-wrapper > img, .article-detail .article-wrapper .text-wrapper p img{
        margin: 0;
    }

    .company-info .item i, .company-info .item span.content{
        display: block;
    }

    .page .right-info{
        padding: 0px 10px 0 10px;
    }

    .registration-sidebar .text-wrapper{
        background-size: cover;
    }

    .registration-sidebar .text-wrapper{
        padding: 0px 10px 10px;
    }

    .page-fullwidth .text-wrapper p{
        padding: 0 80px;
    }

    .grid_item_slider-wrapper .text-wrapper{
        padding: 0 20px;
    }

    .grid_item_slider-wrapper .text-wrapper .title{
        font-size: 55px;
        margin-bottom: 0px;
    }

    .grid_item_slider-wrapper .text-wrapper .description{
        font-size: 15px;
        height: 58px;
    }

    .image-item-top{
        margin-top: 50px;
    }

    .about-image-item .description p{
        line-height: 40px;
    }

    .about-image-item{
        padding: 100px 0;
    }

    .products-detail-wrapper .product-images{
        margin-top: 0;
    }

    .product-detail-wrapper{
        padding-left: 25px;
    }

    .product-details .product-details-info .code{
        padding-bottom: 10px;
    }

    .product-details-price{
        margin-bottom: 15px;
    }

    .product-attributes-wrapper{
        margin-bottom: 10px;
    }

    .product-quantity-wrapper{
        margin-bottom: 20px;
        border-left: none;
    }

    .product-quantity-arrows{
        display: block;
    }

    .product-quantity-wrapper .product-quantity{
        width: 35px;
    }

    .panel-heading{
        padding: 10px 15px 10px 0px;
    }

    .panel-title{
        font-size: 14px;
    }

    .product-vertical-panel .panel .icon{
        line-height: 20px;
    }

    .product-details h1{
        font-size: 15px;
    }

    .mainSliderVideo{
        height: 50vh;
    }

    .product-listing .product-item.gridalt-view{
        width: 33%;
    }

    .product-details{
        padding: 40px 10px 45px 10px;
    }

    .product-listing-intro .list-types-wrapper{
        display: block;
    }

    .two-in-row-search .item.product-item .product-item-image{
        width: 20%;
    }

    .search-sugest .product-prices{
        position: relative;
        top: 0;
        right: 0;
        height: auto;
        min-height: auto;
    }

    .autocomplete-results .product-title{
        height: auto;
    }

    .two-in-row-search .product-code{
        font-size: 13px;
    }




}