/* --- style nbshop helper -- */
.horizontal-center{

}

.pos-center {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.pos-vcenter {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}

.pos-hcenter {
    position:absolute;
    left:50%;
    transform:translateX(-50%);
}

.circ {
    border-radius:50%;
}

.clear {
    clear: both;
}

/* Vertical align */
.valign-mid{
    display: table;
}

.valign-mid > *{
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.valign-mid-element {
    vertical-align:middle;
}

/* Absolute align - center elrement that has position: absolute vertically and horizontally */
.absolute-center{
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

/* Transforms */
.rotate-45{
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.rotate-minus-45{
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
}

.alt-background {
    background:#eee;
}

/* Cover background */
.cover-bg{
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Center absolut position of arrows in slider*/
.slider-navigation-absolute {
    position: absolute;
    width: 100%;
    left:0;
    top:50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    pointer-events:none;
    z-index:3;
}

.slider-navigation-absolute .slider-prev{
    left: 0;
    pointer-events:auto;
}

.slider-navigation-absolute .slider-next{
    right: 0;
    pointer-events:auto;
}

.slider-navigation-absolute .slider-prev:hover,
.slider-navigation-absolute .slider-next:hover{
    color: #3973b5;
}

/* appear preloader */
.appear.appear-preloader {
    opacity: 1;
}

.appear.appear-preloader > *{
    opacity: 0;
}

.appear.appeared.appear-preloader > *{
    opacity: 1;
}

.appear-preloader:after {
    content: "\f110";
    font-family: 'FontAwesome';
    position: absolute;
    left: 50%;
    top: 200px;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-size: 50px;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1010ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 1010ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 1010ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 1010ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 1000;
    -webkit-transition: opacity .15s ease;
    -moz-transition: opacity .15s ease;
    -ms-transition: opacity .15s ease;
    -o-transition: opacity .15s ease;
    transition: opacity .15s ease;
}

.appear.appeared.appear-preloader:after {
    opacity: 0;
    pointer-events: none;
}

/* ckeditor rows */


.ckeditor-row .col-xs-6:nth-child(2n + 1),
.ckeditor-row .col-xs-4:nth-child(3n + 1),
.ckeditor-row .col-xs-3:nth-child(4n + 1),
.ckeditor-row .col-xs-2:nth-child(6n + 1){
    clear: both;
}

@media (min-width: 767px){
    .ckeditor-row .col-sm-6:nth-child(2n + 1),
    .ckeditor-row .col-sm-4:nth-child(3n + 1),
    .ckeditor-row .col-sm-3:nth-child(4n + 1),
    .ckeditor-row .col-sm-2:nth-child(6n + 1){
        clear: both;
    }
}

@media (min-width: 1025px){
    .ckeditor-row .col-md-6:nth-child(2n + 1),
    .ckeditor-row .col-md-4:nth-child(3n + 1),
    .ckeditor-row .col-md-3:nth-child(4n + 1),
    .ckeditor-row .col-md-2:nth-child(6n + 1){
        clear: both;
    }
}

@media (min-width: 1400px){
    .ckeditor-row .col-lg-6:nth-child(2n + 1),
    .ckeditor-row .col-lg-4:nth-child(3n + 1),
    .ckeditor-row .col-lg-3:nth-child(4n + 1),
    .ckeditor-row .col-lg-2:nth-child(6n + 1){
        clear: both;
    }
}

.item-order-reversed {
    color: #d81818 !important;
}
