@media (max-width: 1400px){

    .newsletter .form-group input{
        width: 100%;
    }

    .newsletter .btn-wrapper{
        position: relative;
        bottom: 0;
        right: 0;
        width: 100%;
    }

    .sidebar-stiky{
        position: relative;
        top: 0;
        width: 230px;
        right: 0;
        margin: 0 auto;
    }

    .mainSliderVideo{
        height: 100vh;
    }

    .products-listing .wrapper-grid-view.product-item{
        width: 50%;
    }

    .loyalty-card-image{
        padding-top: 40px;
    }

    .cart-order-options .description{
        position: relative;
        top: 0px;
        left: 0;
    }

    .campaigns .article-gallery .item{
        padding: 30px 0px 30px 0px;
    }

    .grid-slider.bags-slider .text-wrapper .description{
        line-height: 33px;
    }
}

@media (max-width: 1200px){

    .container{
        width: 100%;
    }

    .article .article-content .text-wrapper p{
        padding: 0 180px;
    }

    .campaigns .article-gallery .item{
        padding: 10px 0px 10px 0px;
    }

    .mainSliderVideo{
        height: 68vh;
    }

    .grid-slider.women-slider .text-wrapper .description, .grid-slider.men-slider .text-wrapper .description{
        font-size: 30px;
    }

    .grid-slider.bags-slider .text-wrapper .description{
        font-size: 20px;
    }

    .grid-slider.bags-slider{
        padding: 20px 40px 40px 36px;
    }

    .article-detail .article-wrapper{
        padding: 10px 0px 10px 0;
    }

    .article-detail .article-wrapper .text-wrapper > img, .article-detail .article-wrapper .text-wrapper p img{
        margin: 0 0px 20px 0;
    }

    .items-generic .full{
        float: none;
    }

    .grid_item_slider-wrapper .slider-wrapper:before, .grid_item_slider-wrapper .slider-wrapper:after{
        display: none;
    }
}