/* --- style nbshop basic -- *\

 *  TWO COLUMNS IN ROW, RIGHT ONE IS FIXED TO 300PX
 *  LOGO
 *  FOOTER LOGO
 *  LIST
 *  LINKS
 *  HORIZONTAL DIVIDER
 *  ELEMENTS OF A FORM
 *  INPUT GROUP
 *  FORM CONTROL INSIDE OF MODALS
 *  BUTTONS
 *  SELECT
 *  SELECT FULLWIDTH
 *  SELECT TRANSPARENT
 *  TABLE
 *  MODAL
 *  ALERT
 *  DROPDOWN SELECTOR
 *  TOOLTIP
 *  NICESCROLL
 *  ICHECK
 *  ION.RANGE SLIDER
 *  TOASTR
 *  BOOTBOX
 *  QTIP
 *  INFO BOX
 *  POPOVER
 *  IMAGE BOX
 *  BOARDERED ITEMS

\* --- style nbshop basic -- */

/* Two columns in row, right one is fixed to 300px */
.col-wrapper:after,
.col-wrapper:before{
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.col-wrapper:after{
    clear: both;
}

.col-left{
    display: block;
    float: left;
    width: 100%;
    margin-right: -300px;
}

.col-left-inner{
    margin-right: 320px;
}

.col-right{
    float: right;
    width: 300px;
    display: block;
    margin: 0 auto;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"],
.row.no-gutters > a > [class^="col-"],
.row.no-gutters > a > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

.container {
    position: relative;
}

/* Footer logo */
.footer-logo{
    margin: 20px 0;
}

.footer-logo img{
    max-width: 100px;
}

/* heading-wrapper-bordered - header wrapper border between header and body off bloks */
.heading-wrapper.heading-wrapper-bordered {
    text-align:center;
    margin-bottom:20px;
}

.heading-wrapper.heading-wrapper-bordered:after {

}

.heading-wrapper.heading-wrapper-bordered:before {
    content:"";
    width:65px;
    height:1px;
    background:#ccc;
    position:absolute;
    bottom: 0;
    left: 50%;
    transform:translateX(-50%);
}

.heading-wrapper.heading-wrapper-bordered h1 {
    font-size:1.6rem;
}

.heading-wrapper.heading-wrapper-bordered h2 {
    margin-bottom:8px;
}


/* List - proveriti da li ova Bootstrap klasa treba da ima ovaj style */
.list-inline{
    margin: 0;
}

/* Links */
.underline-effect:hover::after {
    height: 1px;
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
}

.underline-effect::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #3D3D3D;
    content: '';
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
}

/*  Horizontal divider */
.horizontal-divider{
    background: url('../../images/pattern.png') repeat-x;
    height: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.read-more-btn {
    margin-top:10px;
    clear: both;
    display: table;
}

/* Elements of a form */
.form-group{
    margin-bottom: 15px;
    position: relative;
}

.modal .form-group.form-group-checklabel {
    margin-bottom: 0;
}

.form-group label{
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    margin: 0;
}

/* Validation messages */
.validation-errors-list{
    position: absolute;
    top: auto;
    bottom: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    right: 0;
    max-width: 175px;
    background: transparent;
    color: #ED544A;
    padding: 0;
    font-size: 11px;
    line-height: 11px;
    display: none;
    margin: 0;
}

.validation-errors-list.filled li {
    display: inline;
    margin-right: 5px;
}

.validation-errros-list-insidefield{
    top: auto;
    bottom: 0;
    background: transparent;
    color: #333;
}

.validation-errors-list.filled{
    display: block;
}

.validation-errors-list li.parsley-type {
    margin: 0;
}

.modal .validation-errors-list {
    top: auto;
    bottom: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    right: 3px;
    text-align: right;
}

.modal .validation-errors-list li {
    display: block;
    margin: 0;
}

.modal .styled-select .validation-errors-list {
    bottom: -3px;
}

.form-group-checklabel .validation-errors-list{
    right: 0;
    top: 0;
    width: 150px;
    transform: none;
    bottom: auto;
    left: 240px;
    line-height: 16px;
}

.modal .form-group-checklabel .validation-errors-list{
    line-height: 26px;
    left: 190px;
}

.form-group label.disabled{
    color: #969696;
}

.form-group-checklabel label{
    margin-left: 5px;
    margin-bottom: 0;
    color:#868692;
}

.form-group.form-group-checklabel{
   display: flex;
}

.form-group-checklabel .label-as-headline{
    font-size: 1.286rem;
    margin-left: 10px;
    text-transform: uppercase;
    display: inline;
}

.form-group-checklabel > a{
    display: inline-block;
    line-height: 15px;
    margin-left: 5px;
    color: #3973b5;
}

.form-group-checklabel > a:hover{
    color: #000;
}

.form-control{
    border-color: #ddd;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-transition: color 300ms ease-in-out, background-color 300ms ease-in-out, border-color 300ms ease-in-out;
    -moz-transition: color 300ms ease-in-out, background-color 300ms ease-in-out, border-color 300ms ease-in-out;
    transition: color 300ms ease-in-out, background-color 300ms ease-in-out, border-color 300ms ease-in-out;
}

.form-control-lg{
    height: 40px;
}

.form-control:focus{
    background: #fff;
    border-color: #d9d9d9;
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.input-group .form-control{
    border-right-width: 0;
}

.input-group-addon{
    background: transparent;
    border-radius: 0;
    border: 1px solid #ddd;
    padding: 8px;
}

.input-group-addon:last-child{
    border-left: 1px solid #ddd;
}

.input-group-addon-btn{
    padding: 0;
    border: none;
}

.input-group-addon:last-child{
    border-left-width: 0;
}

.input-group-addon-btn .btn{
    height: 34px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

/* Input group */
.input-group .btn{
    padding: 0 10px;
    height: 34px;
    line-height: 34px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.input-group .parsley-errors-list{
    top: auto;
    bottom: -30px;
    right: 0;
}

.input-group .parsley-errors-list li{
    padding: 5px;
}

.input-group .parsley-errors-list li:before{
    display: none;
}


/* Buttons */
.btn{
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-weight: 400;
    -webkit-transition: all .3s ease, transform .005s ease;
    -moz-transition: all .3s ease, -webkit-transform .005s ease;
    transition: all .3s ease, -moz-transition .005s ease;
    border-radius:2px;
}

.btn:hover,
.btn:focus,
.btn:active:focus{
    color: #fff;
    border-width: 0;
    outline: none;
}

.btn-small{
    padding: 5px 10px;
    font-size: 12px;
}

.btn-large{
    font-size: 1.143rem;
    padding: 15px 72px;
}

.btn-xs {
    padding:2px 8px;
}

.btn-lg {
    padding:10px 30px;
}

.btn-info {
    background:#3973b5;
}

.btn-info.useless,
.btn-info.helpful,
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info:active:focus {
    background:#4c8bce;
}

.btn-success{
    background-color: #89c03c;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success:active:focus{
    background-color: #94cc41;
}

.btn-danger{
    background-color: #EB4034;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger:active:focus{
    background-color: #D43428;
}

.btn-default {
    color: #4a4b5c;
    background-color: #fff;
    border: 1px solid #d9d9d9;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default:active:focus{
    background-color: #F5F5F5;
    border: 1px solid #d9d9d9;
    color: #777;
}

.btn-ghost{
    background: transparent;
    color: #4a4b5c;
    border: 1px solid #b0b0b0;
}

.btn-ghost:hover,
.btn-ghost:focus,
.btn-ghost:active,
.btn-ghost:active:focus{
    background: #4a4b5c;
    border: 1px solid #4a4b5c;
    color:#fff;
}

.btn-file {
    font-size: 12px;
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn-activated{
    -webkit-animation: fadeOutText 0.5s;
    -moz-animation: fadeOutText 0.5s;
    animation: fadeOutText 0.5s;
}

.btn-activated.btn-icon-right{
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
}

.btn-activated:before {
    -webkit-animation: moveToRight 0.5s;
    -moz-animation: moveToRight 0.5s;
    animation: moveToRight 0.5s;
    color: #fff;
}

.btn-icon-left,
.btn-icon-right{
    position: relative;
    overflow: hidden;
    font-family: inherit;
    line-height: inherit;
}

.btn-icon-left:before,
.btn-icon-right:before{
    position: absolute;
    width: 40%;
    min-width: 50px;
    font-family: 'NBIcon';
    font-size: 160%;
    font-weight: 400;

    /* align vertically */
    top: 0;
    bottom: 0;
    margin: auto;
    line-height: 1px;
    height: 1px;
}

.btn.icon-bounce:before{
    -webkit-animation: vertical .15s ease infinite;
    -moz-animation: vertical .15s ease infinite;
    animation: vertical .15s ease infinite;
}

.btn-icon-left:before{
    left: 0;
}

.btn-icon-right:before{
    right: 0;
}

.btn-icon-left{
    padding-right: 40px;
    padding-left: 60px;
}

.btn-icon-right{
    padding-right: 60px;
    padding-left: 40px;
}

.btn.btn-aligned {
    padding:6px 30px;
    margin-top:20px;
}

.btn-rounded {
    border-radius: 10px;
}

/* Select */
.styled-select {
    width: 100%;
    height: 34px;
    /*display: inline-block;*/
    overflow: hidden;
    background: url('../../images/core/triangle-bottom.png') no-repeat 95% #fff;
    border: 1px solid #ddd;
    position: relative;
    display: block;
}

.styled-select.validation-error{
    overflow: inherit;
}

.delivery-options .styled-select {
    max-width: 100%;
}

.styled-select select {
    background: transparent;
    width: 100%;
    /*width: calc(100% + 28px);*/
    height: 100%;
    padding: 0 5px;
    line-height: 1.3;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 1px;
    text-overflow: '';
    border-color: #ebebeb;
}
/*prebaciti u style.css*/
.styled-select .validation-errors-list{
    bottom: -3px;
    pointer-events: none;
}

.styled-select.small-select{
    width: 50px;
    background-position: 85% 50%;
}

.styled-select.medium-select{
    width: 160px;
    background-position: 94% 50%;
}

.styled-select.large-select{
    width: 220px;
    background-position: 97% 50%;
}

.styled-select.extralarge-select{
    width: 360px;
    background-position: 98% 50%;
}

.styled-select.extralarge-select select{
    width: 388px;
}

.styled-select.midthick-select{
    height: 34px;
}

.styled-select.thick-select{
    height: 40px;
}

/* select fullwidth */
.styled-select-fullwidth{
    width: 100% !important;
}

/* select transparent */
.styled-select-transparent{
    background-color: #fff;
    border-color: #ebebeb;
}

/* proveriti */
.label-inline-select,
.styled-select-aftertext{
    top: -10px;
    position: relative;
    margin-right: 5px;
}

/* proveriti */
.styled-select-aftertext{
    margin-left: 5px;
}

/* Table - overiding the bootstrap's default styles */
.table{
    margin-bottom: 0;
}

.table > thead > tr > th{
    color: #3973b5;
    font-size: 1.143rem;
    padding: 2px 8px;
}

.table > thead {
    border-bottom: 1px solid #cacaca;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td{
    border: 0;
    vertical-align: middle;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transition: all .2s ease;
}

.table>tbody>tr>td{
    border-bottom: 1px solid #e5e7e9;
    font-size: 1.143rem;
}

.table>tbody>tr:nth-child(2n+1){
    background: rgba(0,0,0,0.03);
}

.table > tbody > tr:last-child > td{
    border-bottom: 0;
}

.table>tbody>tr:hover>td,
.table>tbody>tr:hover>th {
    background-color: #f0f6f8;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th{
    background-color: #fff;
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:hover>td,
.table-striped>tbody>tr:nth-child(even)>th
.table-striped>tbody>tr:hover>th {
    background-color: #f0f6f8;
}

/* Alert */
.alert{
    padding: 5px 15px;
    border-radius: 0;
}

.alert-success {
    color: #79a536;
}

.alert-view{
    background: #f5f5f5;
}

.alert-bottomfixed{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99999999;
}

.alert-bottomfixed .alert{
    margin-bottom: 0;
}

/* Dropdown selector */
.dropdown-selector{
    position: relative;
}

.dropdown-options{
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 9px;
    z-index: 100;
    opacity: 1;
}

.dropdown-options.hidden{
    opacity: 0;
}

.dropdown-options:before{
    position: absolute;
    top: 3px;
    left: 10%;
    display: inline-block !important;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid transparent;
    border-bottom-color: #dedede;
    content: '';
}

.dropdown-options li{
    border: 1px solid #efefef;
}

.dropdown-options li:last-child{
    border-top: 0;
}

.dropdown-options li > a{
    background: #fff;
    color: #333;
    clear: both;
    display: block;
    padding: 4px 10px;
    white-space: nowrap;
}

.dropdown-options li > a:hover{
    background: #F5F5F5;
}

.dropdown-options .language-name{
    margin-left: 5px;
}

/* Tooltip */
.tooltip-inner{
    max-width: 180px;
}

/* Nicescroll */
.nicescroll-rails{
    cursor: pointer !important;
}

/*  iCheck http://fronteed.com/iCheck/ */
.icheckbox_flat,
.iradio_flat{
    width: 14px;
    height: 14px;
    border:1px solid #d9d9d9;
    background-image: none;
}

.iradio_flat{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.iradio_flat:hover{
    background: #ffffff;
    border: 1px solid #b8d2ec;
}

@media (min-width: 768px){
.icheckbox_flat:hover,
    .iradio_flat:hover{
        background: #ffffff;
        border: 1px solid #b8d2ec;
    }
}

.icheckbox_flat.checked,
.iradio_flat.checked{
    background: #3973b5;
    position: relative;
}
.icheckbox_flat.checked{
    background: #3973b5 url('../../images/core/check_box.png') center no-repeat;
}
.icheckbox_flat.checked.disabled {
    background: #d6e3f0 url('../../images/core/check_box.png') center no-repeat;
}

.iradio_flat.checked:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #ffffff;
}

.icheckbox_flat.disabled,
.iradio_flat.disabled{
    border: 1px solid #f0f0f0;
    background: #fff;
}

.icheckbox_flat.checked.disabled,
.iradio_flat.checked.disabled{
    background: #d6e3f0;
}

.icheck-label{
    cursor: pointer;
}

/* Ion.Range Slider * https://github.com/IonDen/ion.rangeSlider */
.irs-diapason {
    height: 2px;
    top: 25px;
    background: #3973b5;
}

.irs-from,
.irs-to,
.irs-single{
    top: -5px;
}

.irs-slider{
    background: #3973b5;
    top: 18px;
    width: 16px;
    height: 16px;
}

.irs-line-left,
.irs-line-mid,
.irs-line-right{
    height: 2px;
    background: #e1e4e9;
}

/* Toastr * https://github.com/CodeSeven/toastr */
#toast-container .toast,
#toast-container .toast:hover{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.toast-middle-center,
.toast-top-center {
    top: 45%;
    left: 50%;
    margin-left: -152px;
}

.toast-top-center {
    top: 30px;
}

/* Bootbox * http://bootboxjs.com/ */
.bootbox .modal-dialog{
    margin-top: 10%;
}

.bootbox .modal-footer{
    padding: 30px;
    background: transparent;
    border: 0;
}

.bootbox .modal-body{
    padding: 30px 30px 0 30px;
}

/* qTip * http://craigsworks.com/projects/qtip/ - Proveriti da li se negde koristi */
.qtip-default{
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

/* Info box */
.info-box{
    background: url('../../images/pattern-light-blue.png') repeat;
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 10px;
}

/* Popover */
.popover,
.popover-title,
.popover-content{
    padding: 0;
    text-align: center;
    max-width: 165px; /* 102px; */
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.popover{
    border: 0;
    padding-bottom: 1px;
    z-index: 1100;
}

.popover.bottom>.arrow:after{
    border-bottom-color: #3973b5;
}

.popover-title{
    padding: 5px 2px;
    font-size: .9rem;
    line-height: .95;
    background: #3973b5;
    color: #fff;
}

.popover-content{
    padding: 5px 10px;
    line-height: 1;
}

.popover-content img{
    max-width: 100%;
}

.popover-content p{
    margin-bottom: 0;
}

.popover-text{
    padding: 5px;
    line-height: 1;
    font-size: 1rem;
}

.popover-text > *{
    margin: 0;
}

/* Image box */
.image-box{
    border: 1px solid #d9d9d9;
    margin-bottom: 20px;
}

.image-box img{
    max-width: 100%;
}

/* bordered items - Proveriti da li ide u helper ili basic */
.bordered-items-setting {
    margin:0 -10px;
    padding:0;
    border-top:1px solid #d3d2d2;
    border-left:1px solid #d3d2d2;
}

.bordered-items-setting .item {
    border-right:1px solid #d3d2d2;
    border-bottom:1px solid #d3d2d2;
    margin-bottom:-1px;
    transition:all 0.3s;
}

.bordered-items-setting .item:hover {
    box-shadow: 0 0 6px 3px rgba(0,0,0,0.25);
}

.login-style {
    margin-top:40px;
    margin-bottom:40px;
}

.favorite{
    font-size: 19px;
    cursor: pointer;
}

.favorite.active{
    color: #3973b5;
    opacity: 1;
}

.favorite.active .icons:before {
    content: '\e619';
    color: #3973b5;
}


/* Modal */
.modal-header{
    padding: 15px 30px;
    background: #3973b5;
}

.modal-body {
    padding:15px 30px;
}

.modal .title{
    border-bottom: 0;
    text-transform: uppercase;
    color: #fff;
}

.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom{
    padding-right:0;
    margin-right: 0;
}

.modal-open {
    padding-right:0;
    overflow: visible;
}

.modal-content{
    border-radius: 0;
    box-shadow: 0;
}

.modal-content-product-details-quick-view {
    min-height: 600px;
}

.modal{
    overflow-y: visible;
    z-index: 2100;
}

/* promo modal */
.promo-modal .modal-dialog {
    width: inherit !important;
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: 0 !important;
    -webkit-transform: translate(-50%,-50%) !important;
    -moz-transform: translate(-50%,-50%) !important;
    -ms-transform: translate(-50%,-50%) !important;
    -o-transform: translate(-50%,-50%) !important;
    transform: translate(-50%,-50%) !important;
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 20px);
}

/* Modal ticket */
#ticket_modal .ticket-item {
    display: none;
}

#ticket_modal .ticket-item.active {
    display: block;
}

#ticket_modal .items-wrapper {
    text-align: center;
}

#ticket_modal .ticket-item .btn-wrapper {
    display: flex;
    margin: 10px 0;
}

#ticket_modal .ticket-item .btn-wrapper button{
    width: 100%;
    margin: 0 5px;
}

#ticket_modal .ticket-item .modal-headline {
    text-align: center;
    margin: 10px 0;
}

/* Modal product size guide */

.modal .nav-tabs>li.active:not(:last-of-type)>a,
.modal .nav-tabs>li.active:not(:last-of-type)>a:hover,
.modal .nav-tabs>li.active:not(:last-of-type)>a:focus,
.modal .nav-tabs > li.active > a,
.modal .nav-tabs > li > a {
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-left: 0 solid #dddddd;
}
.modal .nav-tabs > li:first-of-type > a,
.modal .nav-tabs > li:first-of-type.active > a {
    border-left: 1px solid #dddddd;
}

.modal .nav-tabs > li.tutorial-btn{
    float: right;
}

.modal .tab-content{
    padding: 10px 0;
    margin: auto;
}

/* proveriti body mislim da je suvisan */
.modal-small .modal-dialog{
    width: 420px;
}

/* proveriti body mislim da je suvisan */
.modal-large .modal-dialog{
    width: 700px;
    max-width: calc(100% - 20px);
}

#invoice_modal_order.modal-large .modal-dialog {
    width: 850px;
}

.modal-footer{
    padding:15px 30px;
    margin-top: 0;
    text-align: left;
    background: #F2F2F2;
    line-height: 20px;
}

#lost_password_modal .modal-footer{
    text-align: center;
}

.modal-footer .btn-facebook {
    background: #3973b5;
    float: right;
}

.modal-footer .btn-google {
    background: #d34836;
    float: right;
    margin-left: 0;
    line-height: 20px;
    display: none;
}
.modal-footer .btn-facebook:hover,
.modal-footer .btn-google:hover{
    opacity: 0.7;
}

.modal-footer .btn{
    margin: 0 auto;
    min-width: calc(50% - 3px);
    line-height: 32px;
    padding: 0;
    height: 32px;
}

.modal-footer .social-newtwork-login{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.modal-footer .registration-btn-wrapper{
    text-align: center;
    margin-top: 10px;
}

.modal-footer .btn-login ,
.modal-footer .registration-btn-wrapper a{
    width: 100%;
    margin: 5px auto;
    display: block;
}

.modal-footer .btn-login {
    width: 100%;
}

.modal-footer .registration-btn-wrapper .title{
    color: #4a4b5c;
}

.modal-footer .registration-btn-wrapper .btn{
    background: #4a4b5c;
}

.modal .close{
    font-size: 26px;
    color: #fff;
    opacity: 1;
    z-index: 9;
    position: relative;
}

.modal-map{
    height: 500px;
    width: 100%;
    display: block;
}

.modal-subscribe .modal-dialog {
    width: 500px !important;
    max-width: 94% !important;
}


/* Form control inside of modals */
.modal .form-control{
    background: #fff;
    border: 1px solid #d9d9d9;
}

.modal .styled-select{
    border-color: #d9d9d9;
}

/* modal qick detail view */
.modal-quick-view .product-images .action-video {
    display: none;
}

/* Note */
.note {
    padding: 15px;
    text-align: left;
    background: #f9f9f9;
    border-left: 4px solid #8a8a8a;
    margin: 11px 0;
}

.note h4 {
    padding-left: 30px;
    margin-top: 0;
    color: #8a8a8a;
    font-family: 'NBIcon', sans-serif;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}

.note h4:before {
    content: "\e929";
    position: absolute;
    top: 2px;
    left: 0px;
}

.note.note-info {
    border-left: 4px solid #479ccf;
}

.note.note-info h4 {
    color: #479ccf;
}

.note.note-info h4:before{
    content: "\e634";
}

.note.note-alert {
    border-left: 4px solid #e78f38;
}

.note.note-alert h4 {
    color: #e78f38;
}

.note.note-alert h4:before{
    content: "\e639";
}

/* Page img wrapper */
.page-img-wrapper {
    padding: 15px;
    text-align: center;
    background: transparent;
    margin: 11px 0;
}

.page-img-wrapper.pull-left {
    margin: 0 11px 11px 0;
}

.page-img-wrapper.pull-right {
    margin: 0 0 11px 11px;
}

.page-img-wrapper.doc-img-wrapper  {
    background: #f9f9f9;
}

.page-img-wrapper.doc-img-wrapper.img-with-cam > *:not(a){
    font-size: 12px;
    display: inline-block;
    position: relative;
}

.page-img-wrapper.doc-img-wrapper.img-with-cam > *:not(a):after{
    content: "\f030";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    left: -20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.page-img-wrapper .img-caption {
    font-style: italic;
    font-size: 11px;
    line-height: 15px;
    margin: 10px 0;
}

.product-item-overlay-zoomcursor{
    cursor: url('../../images/core/zoom-cursor.png') 24 24, pointer;
}

.modal-title{
    color: #ffffff;
    text-transform: uppercase;
}

.bootbox .modal-body{
    text-align: center;
}

/* List tabs */
.lists-tabs ul.items-wrapper {
    border-bottom: 2px solid #f4f4f4;
}
.lists-tabs ul.items-wrapper .item {
    border-bottom: 2px solid #f4f4f4;
    margin-bottom: -2px;
}

.lists-tabs ul.items-wrapper .item.active {
    border-bottom: 2px solid #3973b5;
}

.lists-tabs ul.items-wrapper .item a {
    color: #494949;
    line-height: 50px;
    padding: 0 10px;
}

.lists-tabs ul.items-wrapper .item:hover a {
    color: #479ccf;
}

/* Loyalty modal */
.phone-verificatino-modal .btn-ticket{
    display: block;
    margin: 20px auto 0!important;

}

.phone-verificatino-modal .btn-cancel{
    width: 50%;
}

.phone-verificatino-modal .footer-text{
    margin-top: 20px;
    text-align: center;
}

a[href^="tel:"] {
    cursor:default !important;
    pointer-events: none !important;
}

input[type=text]::-ms-clear {display: none;}