body{
    font-family: 'Lato', sans-serif;
    color: #000000;
}

.container{
    width: 1180px;
}

a{
    color: #9a9a9a;
}

a:hover{
    color: #5a5a5a;
}

/* Modal */
.modal-header{
    background: #fff;
    text-align: center;
    border-bottom: 0px;
    padding: 15px 20px;
}

.modal .title{
    color: #444044;
    padding-top: 20px;
    font-weight: normal;
    margin: 0;
}

.modal .close{
    color: #878687;
}

.modal-footer{
    background: #fff;
    text-align: center;
    border-top: 0px;
}

.modal-footer .social-newtwork-login{
    display: none;
}

.modal-footer .registration-btn-wrapper{
    display: none;
}

.form-control{
    height: 30px;
    border: 1px solid #d9d9d9;
    padding: 0 15px;
    line-height: 30px;
}

.form-group label{
    display: none;
}

.forgotten-password{
    color: #9a9a9a;
}

.forgotten-password:hover{
    color: #9a9a9a;
}

.modal-content{
    padding: 20px;
}

.modal-body{
    padding: 20px;
}

.modal-footer .btn-login{
    width: auto;
    background-color: #505252;
    border: 1px solid #d9d9d9;
}

.modal-footer .btn{
    height: 36px;
    min-width: auto;
    line-height: normal;
    padding: 0 20px;
}

#register_modal .modal-dialog{
    width: 600px;
}

.form-group-checklabel label{
    display: inline-block;
    font-size: 0.857em;
    color: #9e9e9e;
}

.form-group-checklabel label a{
    color: #5a5a5a;
}

.form-group-checklabel label a:hover {
    text-decoration: underline;
    color: #5a5a5a;
}

.icheckbox_flat.checked, .iradio_flat.checked{
    width: 9px;
    height: 9px;
    background: #505252;
}

.icheckbox_flat.checked:hover, .iradio_flat.checked:hover{
    border: 1px solid #505252;
}

.icheckbox_flat, .iradio_flat{
    width: 9px;
    height: 9px;
    border: 1px solid #cecece;
    margin-top: 2px;
}

.iradio_flat.checked:after{
    display: none;
}

.styled-select{
    height: 30px;
    color: #9e9e9e;
    border: 1px solid #d6d6d6;
}

/* Modal ticket */
.modal-ticket .modal-title{
    color: #444044;
    padding-top: 20px;
    font-weight: normal;
}

#ticket_modal .items-wrapper{
    display: none;
}

#ticket_modal .lists-tabs .tab-content{
    text-align: center;
    padding: 20px 40px 0;
}

#ticket_modal .modal-content{
    padding: 0;
}

#ticket_modal .modal-body{
    padding: 0;
}

#ticket_modal .ticket-item .btn-wrapper{
    margin: 20px auto 10px;
    padding: 0px 100px 45px;
    text-align: center;
}

#ticket_modal .ticket-item .modal-headline{
    border-top: 1px solid #dddddd;
    margin: 0px 0 10px;
    padding-top: 45px;
}

#ticket_modal .modal-header{
    padding: 35px 40px 15px;
}

#ticket_modal .ticket-item .btn-wrapper .btn-cancel{
    background: #fff;
    color: #505252;
    border: 1px solid #505252;
}

#ticket_modal .ticket-item .btn-wrapper .btn-cancel:hover{
    background: #505252;
    color: #ffffff;
    border: 1px solid #505252;
}

#ticket_modal .ticket-item .btn-wrapper .btn-ticket{
    width: 100%;
    margin: 0 auto;
    background-color: #000000;
}

#ticket_modal .ticket-item .btn-wrapper .btn-ticket:hover{
    background-color: #505252;
}

#ticket_modal .ticket-item  .form-control{
    width: 80%;
    margin: 0 auto;
}

#ticket_modal .form-group label{
    display: block;
    width: 80%;
    margin: 25px auto 10px;
    font-size: 16px;
    color: #505252;
}

/* Buttons */
.btn{
    background-color: #505252;
    border: 1px solid #d9d9d9;
    border-radius: 0;
    padding: 7px 35px;
    color: #ffffff;
    font-weight: normal;
}

.btn:hover, .btn:focus, .btn:active, .btn:active:focus{
    background: #292929;
    background-color: #292929;
    border: 1px solid #d9d9d9;
}

input::-webkit-input-placeholder{
    color: #dfdfe0;
    text-transform: uppercase;
    font-size: 12px;
}

input:-moz-placeholder{
    color: #dfdfe0;
    text-transform: uppercase;
    font-size: 12px;
}

input:-ms-input-placeholder{
    color: #dfdfe0;
    text-transform: uppercase;
    font-size: 12px;
}

.autocomplete-input::-webkit-input-placeholder{
    color: #505252;
    text-transform: none;
    font-size: 18px;
}

.styled-select.midthick-select{
    height: 30px;
    border-color: #dedede;
    color: #a7a7a7a7;
}

.btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success{
    background-color: #292929;
    border-color: #292929;
}