@media (max-width: 767px){

    .header-inline.header-wrapper, .header-inline .header, .header{
        background: #ffffff;
    }

    .nav-main{
        background: #ffffff;
    }

    .grid-slider.women-slider, .grid-slider.men-slider{
        margin-bottom: 10px;
        padding: 10px 0px 0;
    }

    .grid-slider.women-slider .text-wrapper .title,
    .grid-slider.men-slider .text-wrapper .title,
    .grid-slider.bags-slider .text-wrapper .title{
        display: none;
    }

    .grid-slider.bags-slider{
        padding: 10px 0px 0px 0px;
    }

    .grid-slider.women-slider .btn-wrapper .btn-slider,
    .grid-slider.men-slider .btn-wrapper .btn-slider,
    .grid-slider.bags-slider .btn-wrapper .btn-slider{
        display: none;
    }

    .grid-slider.women-slider .text-wrapper .description,
    .grid-slider.men-slider .text-wrapper .description{
        font-size: 18px;
        letter-spacing: 10px;
    }

    .grid-slider.bags-slider .text-wrapper .description{
        font-size: 16px;
        letter-spacing: 10px;
    }

    .grid-slider.bags-slider .item{
        margin-bottom: 10px;
    }

    .grid-slider.loyalty-slider-slider, .grid-slider.gift-footer-slider{
        padding: 0;
        margin-top: 10px;
    }

    .newsletter{
        padding: 10px 0px 25px;
        border-top: 1px solid rgba(255,255,255,0.3);
        border-bottom: 1px solid rgba(255,255,255,0.3);
        border-right: none;
        border-left: none;
        margin: 25px 0 0px;
    }

    .newsletter:before,
    .newsletter:after{
        display: none;
    }

    .newsletter .form-group input{
        width: 100%;
    }

    .newsletter .btn-wrapper{
        position: relative;
        bottom: 0;
        right: 0;
        width: 100%;
    }

    .footer-top{
        padding: 0 10px 25px;
    }

    .main-slider{
        margin-bottom: 0;
    }

    .slider.main-slider .slider-init{
        margin-bottom: 10px;
    }

    .payment-card .item{
        padding: 5px 5px;
    }

    .footer h4, .footer h5, .footer-box-content{
        text-align: center;
    }

    .fa-bars:before{
        content: url("../../images/menu.png");
    }

    .header-favorite.header-favorite-simple{
        display: none;
    }

    .header-cart .mini-cart.mini-cart-simple .header-carthor-total{
        background: #999;
    }

    .fa-shopping-cart:before{
        content: url(../../images/cart-mob.png);
    }

    .header.md-header .header-top .autocomplete-button i{
        background-image: url('../../images/search-mob.png');
    }

    .header-cart .mini-cart .header-carthor-total{
        width: 35px;
    }

    .autocomplete-close{
        padding: 0;
    }

    .search-sugest .product-prices{
        position: relative;
        top: auto;
        right: auto;
        height: auto;
        min-height: auto;
    }

    .autocomplete-results .product-title{
        height: auto;
        min-height: auto;
    }

    .two-in-row-search .product-item-text{
        width: 70%;
    }

    .two-in-row-search .item.product-item .product-item-image{
        width: 30%;
    }

    .autocomplete-results{
        margin-top: 20px;
    }

    .two-in-row-search{
        width: 100%;
    }

    .menu-lang-wrapper{
        display: block;
        position: absolute;
        left: 55px;
    }

    .lang-dropdown{
        padding-top: 12px;
    }

    .menu-lang-wrapper .dropdown-button{
        font-size: 14px;
    }

    .dropdown-button:before{
        width: 14px;
        height: 14px;
        left: -16px;
    }

    .menu-lang-wrapper:hover .dropdown-menu {
        top: 70%;
        left: -6px;
        padding: 5px 5px;
    }

    .header.md-header .logo{
        padding: 10px 0;
    }

    .header-cart{
        min-width: 35px;
    }

    .mini-cart.mini-cart-simple{
        width: 35px;
        min-width: 35px;
    }

    .header.md-header .mini-cart.mini-cart-simple .icon{
        margin-left: -2px;
    }

    .nav-mobile-icon .autocomplete-button.autocomplete-button-simple{
        display: none;
    }

    .nav-main-toplang{
        display: none;
    }

    .nav-main-wrapper.loaded{
        height: 100vh;
    }

    .nav > ul > li{
        border-bottom: 1px solid #dddddd;
        text-align: left;
    }

    .nav-main-useractions{
        margin-bottom: 0px;
    }

    .md-menu .nav-main-dropdown li > a, .md-menu .level4 .nav-main-submenu > li > a > h5, .md-menu .nav-main-dropdown h5, .md-menu .nav-main > li > a{
        line-height: 45px;
        width: 100%;
        color: #1e1e1e;
    }

    .nav-main > li > a .fa-angle-right:before{
        content: "\f067";
    }

    .nav-main > li > a .fa-angle-left:before{
        content: "\f068";
    }

    .md-menu .nav-main > li > a > i, .level4 i, .nav-main > li > a > i{
        font-size: 10px;
    }

    .nav-main-dropdown-inner{
        background: #ffffff;
    }

    .md-menu .nav-main-dropdown h5{
        color: #0f0f0f;
        font-size: 13px;
        text-transform: uppercase;
        padding: 0 15px;
        font-weight: 700;
    }

    .md-menu .nav-main-dropdown li > a{
        color: #727272;
        line-height: 25px;
    }

    .nav-main > li.active > a:active, .nav-main > li.active > a:focus, .nav-main > li.active > a:active:focus{
        background: #ffffff;
        color: #727272;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    .nav-main .nav-main-useractions > ul > li a{
        background: #acacac;
    }

    .nav-main-useractions .item{
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    .md-menu .nav-main > li > a,
    .nav-main > li.active > a{
        background: #ffffff;
        color: #727272;
    }

    .footer .nav.items-wrapper .item a{
        text-align: center;
    }

    .product-listing-intro .intro-filters{
        top: 56px;
    }

    .product-listing .wrapper-gridalt-view.product-item{
        width: 50%;
    }

    .action-filters{
        background: #505252;
        border: 1px solid #d9d9d9;
        padding: 4px 18px;
    }

    .filters-close{
        position: absolute;
        top: 5px;
        right: 10px;
        color: #fff;
        border: 0;
        font-weight: 700;
        font-size: 35px;
        padding: 0;
        background: transparent;
        opacity: 0.2;
        display: block;
        color: #000;
    }

    .product-listing-intro .headding-wrapper{
        margin-top: 0;
    }

    .product-listing-intro{
        padding: 0 0 10px;
    }

    .filter-group-items-wrapper.reset-wrapper{
        position: absolute;
        top: 5px;
        left: 0;
        margin: 0;
        background: transparent;
        color: #fff;
        padding: 0 10px;
    }

    .product-listing-filters.loaded {
        background: #ffffff;
    }

    .selected-filters.tags .items-wrapper{
        width: 50%;
    }

    .products-found-wrapper{
        position: absolute;
        right: 0;
        top: -25px;
    }

    .product .item.gridalt-view .text-wrapper{
        height: auto;
    }

    .blog .description{
        position: relative;
    }

    .article-list-wrapper-masonary .masonry-item:nth-child(2){
        margin-top: 0;
    }

    .article-list-wrapper-masonary .masonry-item:hover:before{
        height: calc(100% - 10px);
    }

    .header-top{
        padding-top: 0;
    }

    .header.md-header, .header.md-header .header-top, .header.md-header .header-top > .container{
        border-bottom: 1px solid #dedede;
    }

    .header-favorite .header-carthor-total, .header-cart .mini-cart .header-carthor-total{
        top: 35px;
    }

    .article .article-content .text-wrapper p{
        padding: 0px;
    }

    .comments h3:before {
        width: 25%;
    }

    .article .article-heading h1 {
       font-size: 17px;
        margin-bottom: 20px;
    }

    .article-header .category{
        margin: 20px auto 20px;
    }

    .campaigns .article-gallery .item{
        padding: 0px;
    }

    .cart-step .heading-append{
        line-height: 15px;
    }

    .cart .heading-wrapper .title h2{
        font-size: 17px;
    }

    .cart-order-options .description{
        position: relative;
        left: 0;
    }

    #order_ticket_content .cart-ticket-wrapper{
        text-align: center;
    }

    #ticket_id_loyalty_user{
        margin: 0 auto;
    }

    #order_carrier_and_payment_content .cart-step h3{
        font-weight: 400;
        font-size: 13px;
    }

    #order_carrier_and_payment_content .cart-step h3 span{
        border-bottom: none;
    }

    .cart .form-group-checklabel .label-as-headline{
        font-size: 13px;
    }

    .cart-table-summary > tfoot > tr > td{
        text-transform: none;
        font-size: 13px;
    }

    .cart textarea.form-control {
        width: 100%;
    }

    .company-info .item i, .company-info .item span.content{
        display: block;
    }

    .registration-sidebar .img-wrapper img{
        margin: 0px 0 0;
        width: 100%;
    }

    .lost-password-page .login-style{
        margin: 0px 0 20px;
    }

    .registration-sidebar .text-wrapper{
        padding: 0px 10px 40px;
    }

    .profile .user-data .item{
        text-align: center;
    }

    .accordian-page{
        padding-top: 25px;
    }

    .page-fullwidth .text-wrapper p{
        padding: 0 0px;
    }

    .page-fullwidth .text-wrapper img{
        width: 100% !important;
        height: 100% !important;
    }

    .container.page{
        width: 100%;
        padding: 0 10px;
    }

    .error-page{
        margin: 20px 0 40px;
    }

    .horizontal-image .btn, .vertical-image .btn{
        margin: 20px auto 0;
    }

    .horizontal-image .description, .vertical-image .description{
        width: 90%;
        margin: 20px auto;
    }

    .items-generic .pola{
        width: 100%;
    }

    .horizontal-image .text-wrapper{
        bottom: 10px;
        left: 10px;
    }

    .main-image-items .img-responsive{
        height: 50vh;
    }

    .about-image-item{
        padding: 50px 10px;
    }

    .about-image-item .img-responsive{
        margin: 0 auto 25px;
        max-width: 200px;
    }

    .about-image-item .description{
        font-size: 20px;
        margin: 0 auto 20px;
    }

    .about-image-item .description:before{
        bottom: -10px;
    }

    .image-text-grid .text-wrapper .title{
        margin-bottom: 30px;
    }

    .text-absolute-wrapper{
        height: 360px;
    }

    .center_item_slider-wrapper{
        margin-top: 50px;
    }

    .center_item_slider-wrapper .item img{
        width: 100vw;
    }

    .main-slider-caption-text{
        display: block;
    }

    .center_item_slider-wrapper .item .main-slider-caption{
        padding: 15px 20px;
    }

    .main-slider-caption-text p{
        margin: 0;
    }

    .main-slider-caption-keyword{
        display: none;
    }

    .grid_item_slider-wrapper .text-wrapper:before{
        display: none;
    }

    .image-text-grid .img-responsive{
        height: auto;
    }

    .item-background .image-text-grid .img-wrapper{
        height: auto;
    }

    .image-text-grid .text-wrapper .description{
        font-size: 14px;
    }

    .image-text-grid .text-wrapper{
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        transform: none;
        margin-top: 25px;
    }

    .mainSliderVideo{
        height: 100%;
    }

    .store-map-wrapper.active .stores-list{
        display: none;
    }

    .store-map-wrapper .show-store-list{
        display: none;
    }

    .stores-list{
        display: none;
    }

    .store-map-wrapper{
        height: 600px!important;
    }

    .store-map-wrapper #map-canvas{
        margin-top: 20px;
    }

    .product-details{
        top: 0;
    }

    .product-information-wrapper{
        padding: 0;
    }

    .product-detail-wrapper{
        padding-left: 10px;
    }

    .product .item .text-wrapper{
        height: auto;
    }

    .product .item .text-wrapper .prices-wrapper{
        height: auto;
    }

    .store-content .panel-inner > .row .col-xs-12 {
        width: 50%;
    }

    .md-menu .nav-main > li > a, .nav-main > li.active > a{
        text-align: left;
        text-transform: uppercase;
        color: #1e1e1e;
        font-size: 12px;
    }

    .nav-main li.red-menu a{
        color: #aa3f44;
    }

    .nav-main .nav-main-useractions > ul > li a{
        background: #acacac;
        color: #ffffff;
    }

    .nav-main-useractions .item{
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    .md-menu .nav-main-wrapper > .container{
        max-width: 100%;
    }

    .md-menu .nav-main > li > a, .nav-main > li.active > a{
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    .nav-main-wrapper{
        border-bottom: none;
    }

    .product-listing{
        padding-top: 56px;
    }

    .header-carthor-total.favorite-header-total{
        display: none;
    }

    .md-menu .nav-main > li.new-favorite-btn > a{
        text-transform: uppercase;
        color: #ffffff;
        background: #acacac;
    }

    .new-favorite-btn .description{
        text-transform: uppercase;
    }

    .post-content{
        padding: 0;
    }

    .product .item .text-wrapper .title a{
        height: 30px;
        line-height: 15px;
        font-size: 13px;
    }

    .fixed-button-wrapper-productlist .btn{
        padding: 7px 10px;
    }

    .product-slider.similar-products-slider{
        padding: 0;
    }

    .product-slider.similar-products-slider > .slider-init > .slick-list{
        margin: 0 0px -300px 0px;
    }

    .fixed-button-wrapper-productlist{
        display: none !important;
    }

    .product-listing-intro .list-types-wrapper{
        display: none;
    }

    .stores-list{
        display: block;
        height: 200px !important;
    }

    #stores-map{
        width: 100%;
        min-height: 50vh;
    }

    .header-top-nav-autocomplete.fixed-style{
        display: none;
    }

    .store-map-wrapper.active .show-store-list{
        opacity: 1;
        pointer-events: all;
        display: block; 
    }

    .page-background .background-img{
        background-size: contain;
        background-position: center;
    }

    .container-fluid.welcome > img{
        height: 100%;
        object-fit: cover;
        width: 100%;
    }

    .welcome-logo-wrapper{
        width: 100%;
    }

    .welcome-logo img{
        width: 300px !important;
    }

    .welcome-buttons-wrapper{
        margin-top: 30px;
        padding: 20px;
    }

    .cokie-info-wrapper .description{
        width: 100%;
    }

    .cokie-info-wrapper .items-wrapper  .form-group label{
        font-size: 10px;
        text-transform: capitalize;
    }

    .cokie-info-wrapper .items-wrapper .item{
        display: inline-block;
        padding: 5px 5px;
        text-transform: capitalize;
    }

    .cookie-agree{
        margin-left: 0;
        margin-bottom: 20px;
    }

    .cookie-read-more-wrapper .tabs-left li a{
        font-size: 10px;
    }


}
