@media (min-width: 768px) and (max-width: 1400px){

    .product-listing .product-item.grid-view{
        width: calc(100% / 3);
    }

    .product-listing .product-item.gridalt-view{
        width: 25%;
    }
    .tehnical-support-wrapper .item-wrapper {
        padding: 10px;
    }

}

@media (max-width: 1400px) {

    .padding-slider .slider-arrows {
        width: 662px;
    }
    .onlyimgslider .headline-wrapper {

        left: 60%;
    }

    .sportcategories-slider .small-first {
        padding-right: 61px;
    }

    .sportcategories-slider .small-last{
        padding-left: 61px;
    }

    .b-landing-wrapper .sport-main .item-wrapper-rel {
        left: 90px;
    }
    .profile-orders .order-lnk-wrapper{

        padding-left: 0;
    }

    .product-listing .filter-selector-wrapper .filter-group-wrapper {
        width: 105px;
    }

    .toggle-banner .toggle-button {
        padding: 10px;
        width: 42px;
    }

    .toggle-banner .toggle-button span {
        display: none;
    }

    .toggle-banner .toggle-button.expand {
        width: 100px;
    }

    .toggle-banner .toggle-button.expand span {
        display: inline-block;
    }

    .promo-slider .content {
        left: calc(50% - 600px);
    }
    .items-slider-with-thumbs .item .absolute-center-img img{
        max-width: 250px;
    }
    .items-slider-with-thumbs .main-items-slider .item .text-wrapper {
        max-width: 400px;
        top: 40%;
        left: 60%;
    }

    /* Item product description popup */
    .item.loop-bg .loop-items-wrapper {
        height: 600px;
    }

    .product-description-popup-wrapper .img-wrapper .items-wrapper.product {
        max-height: calc(100% - 220px);
        overflow: hidden;
        overflow-y: auto;
        margin-top: -70px;
        position: relative;
        padding: 20px 0;
    }

    .product-description-popup-wrapper .img-wrapper.product:after,
    .product-description-popup-wrapper .img-wrapper .heading-wrapper:before {
        content: "";
        width: 100%;
        height: 40px;
        position: absolute;
        bottom: 30px;
        left: 0;
        z-index: 1;
        pointer-events: none;
        background-color: hsla(0,0%,95%,0);
        background-image: linear-gradient(180deg,#f2f2f2 0,hsla(0,0%,95%,0));
    }

    .product-description-popup-wrapper .img-wrapper.product:after {
        top: auto;
        bottom: 0;
        background-color: hsla(0,0%,95%,0);
        background-image: linear-gradient(0deg,#f2f2f2 0,hsla(0,0%,95%,0));
    }

    .product-description-popup-wrapper .heading-wrapper img {
        margin: 0 auto 10px;
    }

    .product-description-popup-wrapper .text-wrapper.product .item.product-item .content .description {
        height: 140px;
        overflow: hidden;
        overflow-y: auto;
    }

    .product-description-popup-wrapper .text-wrapper.product .cover-img {
        height: 210px;
    }

    .product-description-with-popup {
        background-size: auto 100%;
    }

    .product-description-with-popup.hovered {
        background-size: auto 103%;
    }
}

@media (max-width: 1200px){

    .slider-wrapper:after {
        right: -2px;
    }

    .slider-in-tab .slider-navigation-absolute .slider-prev {
        padding-right:15px;
        margin-left:0;
    }

    .slider-in-tab .slider-navigation-absolute .slider-next {
        padding-left:15px;
        margin-right:0;
    }
    .onlyimgslider-content {
        width: 600px;
    }

    .sport-four-in-row {
        margin: 40px 50px;
    }
    .sportcategories-slider.dif-grid {

        padding: 0 50px;
    }

    .sportcategories-slider {
        padding: 0 50px;
    }

    .sport-three-in-row .item.slick-active .button-slider {

        transition: all 0.5s ease;
    }
    .sport-three-in-row .item-title{
        font-size: 20px;
    }
    .padding-slider .slick-slide{
        padding: 0;
    }
    .sportcategories-slider .new_row:first-of-type {
        padding-bottom: 0;
    }

    .new_row {
        margin: 0;
    }
    .sportcategories-slider.dif-grid .slider-caption {

        width: 100%;
    }

    .grid-slider.side-text .content {
        right: 0;
        width: 50%;
        padding: 20px;
    }

    .grid-slider.side-text.side-text-with-cover .item {
        margin-top: -30px;
    }

}


/* NOVI CSS */

@media (max-width: 1200px) {

    .container {
        width: 1024px;
    }
    .container.fashion {
        width: 1000px;
    }
    .slider-navigation-absolute .slider-prev {
        left: 0;
        margin-left:0;
    }

    .slider-navigation-absolute .slider-next {
        right:0;
        margin-right: 0;
    }

    .grid-slider.intro-slider .text-wrapper .title {
        font-size: 0.8rem;
    }

    .heading-wrapper-profile h1 {
        font-size: 15px;
    }

    .promo-slider .content {
        left: calc(50% - 500px);
    }

    .product-listing .filter-selector-wrapper {
        height: 51px;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }

    .article-slider-with-custopm-pagination .item .img-wrapper {
        padding: 0;
    }

    .article-slider-with-custopm-pagination .item .img-wrapper .slide-number {
        right: -25px;
    }

    .dropdown-custom .nav-main-dropdown-wrapper,
    .dropdown-custom .nav-main-dropdown-wrapper .nav-main-dropdown > .container{
        width: 550px;
    }
    .dropdown-custom .heading-wrapper h5{
        font-size: 12px;
    }

    .product-description-with-popup > .container {
        width: 950px;
    }

    .product-description-popup-wrapper .text-wrapper.product .item.product-item .content .description {
        height: auto;
    }

    .product-listing-intro .product-intro-input-search #intro_search {
        width: 100%;
    }

}

