<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pocetna</title>
    <link rel="stylesheet" href="../../assets/css/main.css">

</head>
<body>
 <header>
     <div class="banner">
         <a  href="index.html" class="banners">
             <img src="../../assets/img/banner.png">
         </a>
     </div>
     <nav id="main-menu">
         <ul>
             <li><a href="../Main/home.php">Pocetna</a></li>
             <li><a href="../Main/home.php">Pocetna</a></li>
             <li><a href="../Main/home.php">Pocetna</a></li>
             <li><a href="../Main/home.php">Pocetna</a></li>
             <li><a href="../Main/home.php">Pocetna</a></li>

         </ul>



     </nav>

 </header>







<div class="header">
    <div class="logo">

        <h2>aura</h2>
    </div>

<div class="button2">
    <a  href="../../views/Main/getRegister.html">Registrujte se</a>

</div>

</div>


</body>
</html>