<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pocetna</title>
    <link rel="stylesheet" href="http://localhost/aura1/assets/css/main.css">

</head>
<body >
 <header class="site-header">
     <div class="banner">
         <a><img src="http://localhost/aura1/assets/img/logo.png" alt="aura logo"></a>
     </div>
     <div class="social-icons">
         <a><img src=""><img src="../../assets/img/social/facebook.png" alt="fb"></a>
         <a><img src=""><img src="../../assets/img/social/youtube.png" alt="yt"></a>
         <a><img src=""><img src="../../assets/img/social/instagram.png" alt="instagram"></a>
         <a><img src=""><img src="../../assets/img/social/twitter.png" alt="twitter"></a>

     </div>
     <div class="search-box">
         <form method="post" action="search">
             <input type="text" name="q" placeholder="Unesite kljucne rijeci">
             <button type="submit">Search</button>

         </form>


     </div>
     <nav id="main-menu">
         <ul>
         <li><a href="http://localhost/aura1/index.php">Pocetna</a></li>
         <li><a href="#"></a>Muska kolekcija</li>
         <li><a href="#"></a>Zenska kolekjija</li>
         <li><a href="#">Size plus</a></li>
         <li><a href="http://localhost/aura1/views/Main/getRegister.html">Registracija</a></li>
         <li><a href="http://localhost/aura1/views/Main/getLogin.html">Prijava</a></li>
         </ul>
         
     </nav>

 </header>
<div class="z-pocetna">


    <img src="http://localhost/aura1/assets/img/people-2563491_1280.jpg" height="854" width="1280"/>
    </div>
<div class="m-pocetna">

    <img src="http://localhost/aura1/assets/img/black-and-white-1283231_1280.jpg" height="889" width="1280"/></div>
</body>
</html>