<!doctype html>
<html lang="sr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="♥Moderna muska i zenska odjeca &#x2714 &#x2611 ✅.Svecane haljine,blejzeri pantalone, kosulje,✅,duksevi,jakne,majice,kao i plus size velicine✅">
    <meta name="keywords" content="pantalone haljine kosulje duksevi majice jakne✅">
        <link rel="canonical" href="http://localhost/aura1/home" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel = "icon" href =
            "http://localhost/aura1/assets/img/icon.ico"
          type = "image/x-icon">
        <title>{% block naslov %}Muska i zenska odjeca{% endblock %}-osjecajte se posebno-AURA</title>
</head>
<body>

<nav class="navbar navbar-expand-lg sticky-top flex-lg-row-row navbar-dark bg-dark">
    <a class="navbar-brand" href="http://localhost/aura1/home"><img src="http://localhost/aura1/assets/img/logo.png"
                                                                    alt="aura logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="http://localhost/aura1/home">POCETNA STRANICA <span
                        class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://localhost/aura1/m" id="navbarDropdownMenuLink"
                   role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    MUSKA KOLEKCIJA
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                    <a class="dropdown-item" href="http://localhost/aura1/m">SVI PROIZVODI ZA MUSKARCE</a>
                    <a class="dropdown-item" href="http://localhost/aura1/products/m/pantalone">Pantalone</a>
                    <a class="dropdown-item" href="http://localhost/aura1/products/m/kosulja">Kosulja</a>
                    <a class="dropdown-item" href="http://localhost/aura1/products/m/sako">Sako</a>
                    <a class="dropdown-item" href="http://localhost/aura1/products/m/jakna">Jakna</a>
                    <a class="dropdown-item" href="http://localhost/aura1/products/m/majica">Majica</a>
                    <a class="dropdown-item" href="http://localhost/aura1/products/m/kais">Kais</a>
                    <a class="dropdown-item" href="http://localhost/aura1/products/m/kaput">Kaput</a>
                    <a class="dropdown-item" href="http://localhost/aura1/products/m/odijelo">Odijelo</a>
                    <a class="dropdown-item" href="http://localhost/aura1/products/m/dzemper">Dzemper</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://localhost/aura1/z" id="navbarDropdownMenuLink"
                   role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    ZENSKA KOLEKCIJA
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="http://localhost/aura1/z">SVI PROIZVODI ZA ZENE</a>
                    <a class="dropdown-item" href="http://localhost/aura1/products/z/haljina">Haljina</a>
                    <a class="dropdown-item" href="http://localhost/aura1/products/z/suknja">Suknja</a>
                    <a class="dropdown-item" href="http://localhost/aura1/products/z/pantalone">Pantalone</a>
                    <a class="dropdown-item" href="http://localhost/aura1/products/z/kosulja">Kosulja</a>
                    <a class="dropdown-item" href="http://localhost/aura1/products/z/jakna">Jakna</a>
                    <a class="dropdown-item" href="http://localhost/aura1/products/z/majica">Majica</a>
                    <a class="dropdown-item" href="http://localhost/aura1/products/z/kais">Kais</a>
                    <a class="dropdown-item" href="http://localhost/aura1/products/z/bluza">Bluza</a>
                    <a class="dropdown-item" href="http://localhost/aura1/products/z/blejzer">Blejzer</a>
                    <a class="dropdown-item" href="http://localhost/aura1/products/z/mantil">Mantil</a>
                    <a class="dropdown-item" href="http://localhost/aura1/products/z/kaput">Kaput</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    SIZE PLUS KOLEKCIJA
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="http://localhost/aura1/sizeplus">ZA PUNIJE DAME</a>
                    <a class="dropdown-item" href="http://localhost/aura1/sizeplus">ZA PUNIJE MUSKARCE</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    REGISTRACIJA/PRIJAVA
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="http://localhost/aura1/getregister">Registracija</a>
                    <a class="dropdown-item" href="http://localhost/aura1/getlogin">Prijava</a>
                    <a class="dropdown-item" href="http://localhost/aura1/user/logout">Odjava</a>
                </div>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="http://localhost/aura1/korpa">KORPA </a>
            </li>
        </ul>
    </div>
<!--    <div class="bookmarks" style="   padding: 7px;-->
<!--    border: 1px solid black;-->
<!--    background: #dfdfdf;-->
<!--    /*position: fixed;*/-->
<!--    display: block;-->
<!--    right: 2px;-->
<!--    top: 180px;">Loading bookmarks</div>-->
<!--    <div class="clr-btn" style="   padding: 7px;-->
<!--    border: 1px solid black;-->
<!--    background: #dfdfdf;-->
<!--    /*position: fixed;*/-->
<!--    display: block;-->
<!--    right:2px;-->
<!--    top: 135px"><a href="http://localhost/aura1/api/bookmarks/clear">Izbrisi</a></div>-->
</nav>

<main>

    {% block main %}

    {% endblock %}
</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<!--<script src="http://localhost/aura1/assets/js/bookmark.js"></script>-->

</body>
</html>