<!DOCTYPE html>
<html lang="sr">
<head><!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TJ4HBSJ');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <title> {% block naslov %}Pocetna{% endblock %}</title>

    <link rel="stylesheet" href="http://localhost/aura1/assets/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
<div class="container">
        <header class="site-header">
            <div class="banners">
                <a href="http://localhost/aura1/home"><img src="http://localhost/aura1/assets/img/logo.png" alt="aura logo"></a>
            </div>
<!--            <div class="bookmarks">Bookmarks</div>-->

            <div class="social-icons">
                <a class="fa fa-facebook" style="font-size: 20px"></a>
                <a class="fa fa-youtube" style="font-size: 20px"></a>
                <i class="fa fa-instagram" style="font-size: 20px"></i>
                <a><i class="fa fa-twitter" style="font-size: 20px"></i></a>

            </div>

<!--<div class="clr-btn" ><a href="http://localhost/aura1/api/bookmarks/clear">Izbrisi</a></div>-->
            <nav id="main-menu">
                <ul>
                    <li><a href="http://localhost/aura1/home">Pocetna</a></li>
                    <div class="dropdown">
                        <a href="http://localhost/aura1/muski"><button class="dropbtn">Muska kolekcija
                            <i class="fa fa-caret-down"></i>
                        </button></a>

                        <div class="dropdown-content">
                            <a href="http://localhost/aura1/products/m/pantalone">Pantalone</a>
                            <a href="http://localhost/aura1/products/m/kosulja">Kosulja</a>
                            <a href="http://localhost/aura1/products/m/sako">Sako</a>
                            <a href="http://localhost/aura1/products/m/jakna">Jakna</a>
                            <a href="http://localhost/aura1/products/m/majica">Majica</a>
                            <a href="http://localhost/aura1/products/m/kais">Kais</a>
                            <a href="http://localhost/aura1/products/m/kaput">Kaput</a>
                            <a href="http://localhost/aura1/products/m/bermude">Bermude</a>

                        </div>
                    </div>
                    <div class="dropdown">
                        <a href="http://localhost/aura1/zenski"><button class="dropbtn">Zenska kolekcija
                            <i class="fa fa-caret-down"></i>
                        </button></a>
                        <div class="dropdown-content">
                            <a href="http://localhost/aura1/products/z/pantalone">Pantalone</a>
                            <a href="http://localhost/aura1/products/z/kosulja">Kosulja</a>
                            <a href="http://localhost/aura1/products/z/haljina">Haljina</a>
                            <a href="http://localhost/aura1/products/z/jakna">Jakna</a>
                            <a href="http://localhost/aura1/products/z/majica">Majica</a>
                            <a href="http://localhost/aura1/products/z/kais">Kais</a>
                            <a href="http://localhost/aura1/products/z/suknja">Suknja</a>
                            <a href="http://localhost/aura1/products/z/bluza">Bluza</a>
                            <a href="http://localhost/aura1/products/z/blejzer">Blejzer</a>
                            <a href="http://localhost/aura1/products/z/kaput">Kaput</a>

                        </div>
                    </div>
                    <li><a href="http://localhost/aura1/sizeplus">Kolekcija za punije dame</a></li>
                    <li><a href="http://localhost/aura1/getregister">Registracija</a></li>
                    <li><a href="http://localhost/aura1/getlogin">Prijava</a></li>
                    <li><a href="http://localhost/aura1/user/logout">Odjava</a></li>

                </ul>
            </nav>
            <p>{{podatak}}</p>
        </header>
            <main>

                {% block main %}

                {% endblock %}
            </main>

        <footer class="footer">
            &copy; 2019 aura
       </footer>
    <script src="http://localhost/aura1/assets/js/bookmark.js"></script>

    <!--    <script src="http://localhost/aura1/assets/js/topnav.js"></script>-->


</div>
</body>
</html>